@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  /* 
  background: #1c8ef9 !important; */
}

.layout {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  height: 100%;
  overflow: scroll;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.sidebar {
  width: 10.5rem;
  height: 100%;
  overflow: scroll;
  background-color: #fff;
  padding: 1rem;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.sidebar_top {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e5e7eb;
}

.sidebar_logo {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  border-radius: 1rem;
}
.sidebar_logo-name {
  font-size: 0.5rem;
  font-weight: 600;
}

.sidebar_list {
  list-style: none;
  position: relative;
}

.sidebar_list:hover ul {
  display: contents;
}

.sidebar_list ul {
  position: absolute;
  /* left: 200px; */
  display: none;
  background: #f3f4f6;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

.arrow {
  position: relative;
  left: 35px;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}
.sidebar_list:hover .arrow {
  transform: rotate(90deg);
}

.sidebar_link {
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  color: #000;
  padding: 0.2rem 0.5rem;
  display: flex;
  background-color: #f3f4f6;
  margin-bottom: 1rem;
  border-radius: 0.8rem;
  justify-content: center;
}

ul.sidebar_list {
  padding-left: 0;
}

.sidebar_icon {
  display: inline-block;
}

.sidebar_name {
  margin-left: 0.5rem;
}

.sidebar_wrapper {
  position: relative;
}

.button {
  position: absolute;
  right: 0;
  top: 5rem;
  border: none;
  background-color: #fff;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #e5e7eb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateX(50%);
  font-size: 1.1rem;
}

.button:hover {
  background-color: #265df2;
}

[data-collapse="true"] {
  width: 5.3rem;
}
[data-collapse="true"] .sidebar_name,
[data-collapse="true"] .sidebar_logo-name {
  display: none;
}

p.sidebar_logo-name {
  margin-top: 0;
  margin-bottom: 0rem;
}

.header {
  /* background-color: #fff; */
  margin: auto;
  height: 3.5rem;
  border-bottom: 1px solid grey;
  padding-top: 1rem;
  padding-left: 0%;
  font-family: cursive;
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: darkslategrey;
}

main {
  padding-right: 3rem;
  /* height: 100%; */
}

.category {
  background: darkgray;
  color: #e5e7eb;
  width: 100%;
  height: 2.5rem;
  display: flex;
  border-radius: 10px;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
  /* gap: 100px; */
  margin-bottom: 50px;
  box-shadow: -8px 8px 12px 0 rgba(0, 0, 0, 0.3),
    12px -12px 16px rgba(255, 255, 255, 0.25);
}

.category p {
  background: grey;
  color: #e5e7eb;
  height: 2.5rem;
  margin-bottom: 0;
  margin-right: 5rem;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 10px;
}

.body {
  min-height: 100vh;
  /* min-width: 100vw; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: #efefef;
  padding: 3px;
  flex-wrap: wrap;
  border-radius: 10px;
  flex-direction: row;
  box-shadow: -8px 8px 12px 0 rgba(0, 0, 0, 0.3),
    12px -12px 16px rgba(255, 255, 255, 0.25);
}

.slide-container {
  /* background-color: grey; */
  padding: 40px 0;
}

.slide-content {
  margin: 0 40px;
}

.card {
  width: 320px;
  border-radius: 50px;
  background-color: #fff;
  transition: transform 0.3s ease;
  box-shadow: -8px 8px 12px 0 rgba(0, 0, 0, 0.3),
    12px -12px 16px rgba(255, 255, 255, 0.25);
}
.card:hover {
  transform: rotate(5deg) scale(1.05);
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
  border-radius: 25px 25px 0 25px;
}

.overlay-w {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: lightgreen;
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070f4;
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070f4;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}

.registered,
.registered link {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.registered link {
  color: #167bff;
}

.landingpage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  transition: 0.5s;
}

.video-bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
  object-fit: cover;
}

.bg-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  z-index: 0;
}

.navbarr {
  width: 100%;
  height: 6em;
  border-bottom: 2px solid white;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
}

.menu {
  height: 3em;
  width: 4em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 2em;
  cursor: pointer;
}

.menu div {
  width: 90%;
  height: 0.25em;
  background-color: white;
  border-radius: 1em;
}

.menu div:nth-of-type(2) {
  width: 40%;
}

.home-text {
  width: 70%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
  color: #fff;
}

h1,
h4 {
  font-size: 6em;
  animation-name: fade;
  animation-duration: 4s;
}

.home-text p {
  justify-self: flex-end;
  font-size: 2em;
}

.home-btn {
  width: 6em;
  height: 2em;
  border: 2px solid white;
  border-radius: 0.25em;
  background-color: rgba(255, 255, 255, 0.457);
  z-index: 1;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: #fff;
}

/* ---------- Animation --------------- */
@keyframes fade {
  0% {
    opacity: 0;
    margin-left: 3em;
  }
  100% {
    opacity: 1;
  }
}
