.imageContainer {
  width: 100px;
  margin-bottom: 50px;
}

.imageContainer div {
  position: unset !important;
}
.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
.highlight {
  background-color: yellow;
}

.links {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 20px;
}
